version: "3.9"
services:
  app:
    build:
      dockerfile: Dockerfile
    image: alcapone1933/ddns-ipv64-api-webgui:latest
    container_name: ddns-ipv64-api-webgui
    restart: always
    ports:
      - 5000:5000
    environment:
      - TZ=Europe/Berlin
      - DOMAIN_API=123456787654321234567876543
      # - DOMAIN_KEY=1234567890abcdefghijklmn
      # - DOMAIN_IPV64=deine-domain.ipv64.net
      - TABELLE_BREITE=40
    volumes:
      - ./app/conf/conf.json:/app/conf/conf.json
      # - ./app/conf/runners/:/app/conf/runners
      # - ./app/conf/scripts/:/app/conf/scripts
      # - ./app/logs/:/app/logs
